* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;

}

body {
    background-color: #00b7ff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
}

li {
    list-style: none;
}

form input {
    border-radius: .5rem;
    margin: .5rem;
    border: none;
}



.container {
    text-align: center;
    padding: 1rem;
}

.title {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5rem;
}

.form-container {
    margin: 1rem 0;
    background-color: #009EFA;
    display: flex;
    flex-direction: column;
}

.inputName-container {
    /* background-color: bisque; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: .5rem;

}


.input-name {
    width: 100%;
    padding: 0.5rem;
}

.input-info {
    width: 100%;
    /* background-color: blueviolet; */
    padding: .5rem;
    display: flex;
    align-items: center;
}



.inputInfo-container {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-form {
    width: 30%;
    border-radius: 1rem;
    margin: .5rem;
    padding: .5rem;
    border: none;
    background: white;
    cursor: pointer;
}

.input-birthday {
    cursor: pointer;
}

.user-card {
    font-size: 1.3rem;
    margin: 1rem;
    border: solid white;
    border-radius: 1rem;
    line-height: 2rem;
    background-color: #00D2FC;
    color: white;
    padding: 1rem 0;
}

.button-card {
    margin: .5rem;
    padding: .5rem;
    border: white solid;
    border-radius: 1rem;
    width: 20%;
    background: inherit;
    cursor: pointer;
}

/* \version desktop */

@media screen and (min-width: 600px) {

    .container {
        display: flex;
        flex-direction: row-reverse;
        padding: 1rem;
        background-color: rebeccapurple;
    }

    .title {
        font-family: 'DM Sans', sans-serif;
        font-size: 1.5rem;
    }

    .form-container {
        border-radius: 1rem;
        width: 60%;
        height: fit-content;
        margin: 1rem 0;
        padding: 1rem 0;
        background-color: #009EFA;
        display: flex;
        flex-direction: column;
    }

    .inputName-container {
        /* background-color: bisque; */
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: .5rem;

    }


    .input-name {
        width: 100%;
        padding: 0.5rem;
    }

    .input-info {
        width: 100%;
        padding: .5rem;
        display: flex;
        align-items: center;
    }



    .inputInfo-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .button-info {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button-form {
        width: 30%;
        border-radius: 1rem;
        margin: .5rem;
        padding: .5rem;
        border: none;
        background: white;
        cursor: pointer;
    }

    .input-birthday {
        cursor: pointer;
    }

    .user-container {
        width: 100%;
    }

    .user-card {
        font-size: 1.5rem;
        margin: 1rem;
        border: solid white;
        border-radius: 1rem;
        line-height: 2rem;
        background-color: #00D2FC;
        color: white;
    }

    .button-card {
        margin: .5rem;
        padding: .5rem;
        border: white solid;
        border-radius: 1rem;
        width: 20%;
        background: inherit;
        cursor: pointer;
    }
}